<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Mis proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="My develop projects">
        <ion-item slot="header" color="light">
          <ion-label>
            CRUD en Php
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            Desarrollamos un CRUD en PHP con base de
             MySql/MariaDB para un sistema en internet.
               <img src="assets/WebProjects.jpg" />
        </div>
    </ion-accordion>
    <ion-accordion value="My Mobile Projects">
      <ion-item slot="header" color="light">
      <ion-label>
        My Mobile Projects
      </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
        Desarrollamos proyectos móvilesd con uso de sensores
         TextSpeech, traductores, así
        como juegos para Plataformas Ios y Android.
        <img src="assets/MobileProjects.jpg" />
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
